*{
    font-size: 20px;
    margin-bottom: 1rem;
}

h1{
    /* margin: 1em; */
    font-size: 60px;
}

.input-field{
    height: 20rem;
    width: 50rem;
    margin: auto;
    background-color: blanchedalmond;
    box-sizing: border-box;
}

.inner-element{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
}

.main{
    text-align: center;
    background-color: aqua;
    height: 29rem;
    position: relative;
}

.inner-element #number-tab{
    margin-top: 25px;
}

.windiv{
    position: fixed;
    top: 40%;
    left: 40%;
}

.losediv{
    position: fixed;
    top: 40%;
    left: 40%;
}
