*{
    font-size: 20px;
    margin-bottom: 1rem;
    font-family:cursive;
    border-radius:20px;

}
body{
    background-color: #FFDAB9;
}

h1{
    /* margin: 1em; */
    font-size: 60px;
}

.guess{
    /* margin: 1em; */
    font-size: 60px;
    color: rgb(120, 175, 238);
}


.input-field{
    height: 70%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: blanchedalmond;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    position: relative;
}

.inner-element{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.main{
    text-align: center;
    background-color: #FDF5E6;
    height: 29rem;
    margin: 0 10%;
}

.inner-element #number-tab{
    margin-top: 25px;
}

.windiv, .losediv, .highLowDiv{
    color: rgb(194, 64, 41);
    position: absolute;
    top: 70%;
    left: 35%;
}
