*{
    font-size: 20px;
    margin-bottom: 1rem;
    font-family:cursive;
    border-radius:20px;

}
body{
    background-color: #FFDAB9;
}
h1{
    /* margin: 1em; */
    font-size: 60px;
    font-family:cursive
}

.input-field{
    height: 20rem;
    width: 50rem;
    margin: auto;
    background-color: blanchedalmond;
    box-sizing: border-box;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.inner-element{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
}

.main{
    text-align: center;
    background-color: #FDF5E6;
    height: 29rem;
    margin: 0 10%;
    position: relative;
}

.inner-element #number-tab{
    margin-top: 25px;
}

.windiv{
    position: fixed;
    top: 40%;
    left: 40%;
}

.losediv{
    position: fixed;
    top: 40%;
    left: 40%;
}

.highLowDiv{
    position: fixed;
    top: 40%;
    left: 40%;
}
